SUPABASE_URL=https://uctkrfjkzpfvbalqaitp.supabase.co
SUPABASE_SERVICE_ROLE_KEY=

GATEWAY_PORT=3001
FRONTEND_ORIGIN=http://localhost:3000

INGESTION_HOST=127.0.0.1
INGESTION_TCP_PORT=4001

SPC_ENGINE_HOST=127.0.0.1
SPC_ENGINE_TCP_PORT=4002

ALERTING_HOST=127.0.0.1
ALERTING_TCP_PORT=4003
